[settings]
time_base = "Relative"
tick_quant = "8"
ticks_per_frame = 8
frame_min = 1
frame_max = 10
frame_start = 1

[[script]]
run_on_slot_enable = "XpOrb"
action = "PlayAudio"
volume = 0.5
asset_key = "audio.game.XpOrbs"

# INITIALIZE RUN REGULAR
[[script]]
run_on_playback_control = "Start"
action = "SetFrameNow"
frame_index = 2

# RESET ON DIRECTION CHANGE
[[script]]
run_on_slot_enable = "DirectionChanged"
action = "SetFrameNow"
frame_index = 1


[[script]]
run_at_frame = [3, 7]
action = "PlayAudio"
volume = 0.5
asset_key = "audio.game.Footstep"

# LOOP
[[script]]
run_at_frame = 10
action = "SetFrameNext"
frame_index = 3

# Support left/right flipping
[[script]]
run_on_slot_enable = "DirectionLeft"
action = "SetSpriteFlip"
flip_x = true
[[script]]
run_on_slot_enable = "DirectionRight"
action = "SetSpriteFlip"
flip_x = false


# Blink Red on Damage
[[script]]
run_every_n_ticks = "8+2"
require_slots_any = ["Damage"]
action = "SetSpriteColor"
color = "#ff0000"
[[script]]
run_every_n_ticks = "8+6"
require_slots_any = ["Damage"]
action = "SetSpriteColor"
color = "#ffffff"

# Ensure correct color after damage stops
[[script]]
run_on_slot_disable = "Damage"
action = "SetSpriteColor"
color = "#ffffff"

# On Damage, immediately change color to ensure no delay
[[script]]
run_on_slot_enable = "Damage"
action = "SetSpriteColor"
color = "#ff0000"
