atlas_asset_key = "anim.spider.RangedAttack.sprite"

[settings]
time_base = "Relative"
frame_start = 1
tick_quant = "8"
ticks_per_frame = 8
frame_max = 15
frame_min = 1

# LOOP
[[script]]
action = "SetFrameNext"
frame_index = 1
run_at_frame = 15

[[script]]
run_at_frame = 3
action = "StopAudio"
label = "RangedAttack"
current_script_only = false

[[script]]
run_at_frame = 3
action = "PlayAudio"
volume = 0.6
asset_key = "audio.game.BigSpiderAttack"
label = "RangedAttack"



# Support left/right flipping
[[script]]
run_on_slot_enable = "DirectionLeft"
action = "SetSpriteFlip"
flip_x = true
[[script]]
run_on_slot_enable = "DirectionRight"
action = "SetSpriteFlip"
flip_x = false
