// This file is for ANIMATIONS; i.e any sprite-based animated assets
// based on our custom animation system.
({
    "anim.player.Fall": File (
        path: "animations/player/movement/Fall.anim.toml",
    ),
    "anim.player.Fall.image": File (
        path: "animations/player/movement/FallSheet.png",
    ),
    "anim.player.Fall.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 2,
        columns: 6,
    ),
    "anim.player.Jump": File (
        path: "animations/player/movement/Jump.anim.toml",
    ),
    "anim.player.Jump.image": File (
        path: "animations/player/movement/JumpSheet.png",
    ),
    "anim.player.Jump.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 2,
        columns: 6,
    ),
    "anim.player.Dash": File (
        path: "animations/player/movement/Dash.anim.toml",
    ),
    "anim.player.Dash.image": File (
        path: "animations/player/movement/Dash.png",
    ),
    "anim.player.Dash.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 1,
    ),
    "anim.player.Roll": File (
        path: "animations/player/movement/Roll.anim.toml",
    ),
    "anim.player.Roll.image": File (
        path: "animations/player/movement/Roll.png",
    ),
    "anim.player.Roll.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.WallSlide": File (
        path: "animations/player/movement/WallSlide.anim.toml",
    ),
    "anim.player.WallSlide.image": File (
        path: "animations/player/movement/WallSlide.png",
    ),
    "anim.player.WallSlide.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 3,
    ),
    "anim.player.Idle": File (
        path: "animations/player/movement/Idle.anim.toml",
    ),
    "anim.player.Idle.image": File (
        path: "animations/player/movement/IdleSheet.png",
    ),
    "anim.player.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 2,
        columns: 12,
    ),
    "anim.player.IdleLookUp": File (
        path: "animations/player/movement/IdleLookUp.anim.toml",
    ),
    "anim.player.IdleLookUp.image": File (
        path: "animations/player/movement/IdleLookUp.png",
    ),
    "anim.player.IdleLookUp.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 2,
        columns: 11,
    ),
    "anim.player.IdleLookDown": File (
        path: "animations/player/movement/IdleLookDown.anim.toml",
    ),
    "anim.player.IdleLookDown.image": File (
        path: "animations/player/movement/IdleLookDown.png",
    ),
    "anim.player.IdleLookDown.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 2,
        columns: 11,
    ),
    "anim.player.Run": File (
        path: "animations/player/movement/Run.anim.toml",
    ),
    "anim.player.Run.image": File (
        path: "animations/player/movement/RunSheet.png",
    ),
    "anim.player.Run.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 10,
    ),
    "anim.player.SwordBasicIdle": File (
        path: "animations/player/sword/BasicIdle.anim.toml",
    ),
    "anim.player.SwordBasicIdle.image": File (
        path: "animations/player/sword/BasicIdleSheet.png",
    ),
    "anim.player.SwordBasicIdle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 20,
    ),
    "anim.player.HammerBasicIdle": File (
        path: "animations/player/hammer/BasicIdle.anim.toml",
    ),
    "anim.player.HammerBasicIdle.image": File (
        path: "animations/player/hammer/BasicIdleSheet.png",
    ),
    "anim.player.HammerBasicIdle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 29,
    ),
    "anim.player.SwordBasicRun": File (
        path: "animations/player/sword/BasicRun.anim.toml",
    ),
    "anim.player.SwordBasicRun.image": File (
        path: "animations/player/sword/BasicRunSheet.png",
    ),
    "anim.player.SwordBasicRun.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 12,
    ),
    "anim.player.SwordBasicAir": File (
        path: "animations/player/sword/BasicAir.anim.toml",
    ),
    "anim.player.SwordBasicAir.image": File (
        path: "animations/player/sword/BasicAirSheet.png",
    ),
    "anim.player.SwordBasicAir.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 20,
    ),
    "anim.player.HammerBasicAir": File (
        path: "animations/player/hammer/BasicAir.anim.toml",
    ),
    "anim.player.HammerBasicAir.image": File (
        path: "animations/player/hammer/BasicAirSheet.png",
    ),
    "anim.player.HammerBasicAir.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 18,
    ),
    "anim.player.SwordWhirling": File (
        path: "animations/player/sword/Whirling.anim.toml",
    ),
    "anim.player.SwordWhirling.image": File (
        path: "animations/player/sword/WhirlingSheet.png",
    ),
    "anim.player.SwordWhirling.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.player.HammerWhirling": File (
        path: "animations/player/hammer/Whirling.anim.toml",
    ),
    "anim.player.HammerWhirling.image": File (
        path: "animations/player/hammer/WhirlingSheet.png",
    ),
    "anim.player.HammerWhirling.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 10,
    ),
    "anim.player.SwordDashDown": File (
        path: "animations/player/sword/DashDown.anim.toml",
    ),
    "anim.player.SwordDashDown.image": File (
        path: "animations/player/sword/DashDownSheet.png",
    ),
    "anim.player.SwordDashDown.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.player.SwordDashDownStrike": File (
        path: "animations/player/sword/DashDownStrike.anim.toml",
    ),
    "anim.player.SwordDashDownStrike.image": File (
        path: "animations/player/sword/DashDownSheet.png",
    ),
    "anim.player.SwordDashDownStrike.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.player.HammerDashDown": File (
        path: "animations/player/hammer/DashDown.anim.toml",
    ),
    "anim.player.HammerDashDown.image": File (
        path: "animations/player/hammer/DashDownSheet.png",
    ),
    "anim.player.HammerDashDown.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 12,
    ),
    "anim.player.BowBasicIdle": File (
        path: "animations/player/bow/BasicIdle.anim.toml",
    ),
    "anim.player.BowBasicIdle.image": File (
        path: "animations/player/bow/BasicIdleSheet.png",
    ),
    "anim.player.BowBasicIdle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 8,
    ),
    "anim.player.BowBasicRun": File (
        path: "animations/player/bow/BasicRun.anim.toml",
    ),
    "anim.player.BowBasicRun.image": File (
        path: "animations/player/bow/BasicRunSheet.png",
    ),
    "anim.player.BowBasicRun.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 8,
    ),
    "anim.player.BowBasicAir": File (
        path: "animations/player/bow/BasicAir.anim.toml",
    ),
    "anim.player.BowBasicAir.image": File (
        path: "animations/player/bow/BasicAirSheet.png",
    ),
    "anim.player.BowBasicAir.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.BowBasicArrow": File (
        path: "animations/player/bow/BasicArrow.anim.toml",
    ),
    "anim.player.BowBasicArrow.image": File (
        path: "animations/player/bow/BasicArrowSheet.png",
    ),
    "anim.player.BowBasicArrow.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 1,
    ),
    "anim.spider.Idle": File (
        path: "animations/spider/big/tier1/Idle.anim.toml",
    ),
    "anim.spider.Idle.image": File (
        path: "animations/spider/big/tier1/Idle.png",
    ),
    "anim.spider.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 17,
    ),
    "anim.spider2.Idle": File (
        path: "animations/spider/big/tier2/Idle.anim.toml",
    ),
    "anim.spider2.Idle.image": File (
        path: "animations/spider/big/tier2/Idle.png",
    ),
    "anim.spider2.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 17,
    ),
    "anim.spider3.Idle": File (
        path: "animations/spider/big/tier3/Idle.anim.toml",
    ),
    "anim.spider3.Idle.image": File (
        path: "animations/spider/big/tier3/Idle.png",
    ),
    "anim.spider3.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 17,
    ),
    "anim.smallspider.Idle": File (
        path: "animations/spider/small/tier1/Idle.anim.toml",
    ),
    "anim.smallspider.Idle.image": File (
        path: "animations/spider/small/tier1/Idle.png",
    ),
    "anim.smallspider.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.smallspider2.Idle": File (
        path: "animations/spider/small/tier2/Idle.anim.toml",
    ),
    "anim.smallspider2.Idle.image": File (
        path: "animations/spider/small/tier2/Idle.png",
    ),
    "anim.smallspider2.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.smallspider3.Idle": File (
        path: "animations/spider/small/tier3/Idle.anim.toml",
    ),
    "anim.smallspider3.Idle.image": File (
        path: "animations/spider/small/tier3/Idle.png",
    ),
    "anim.smallspider3.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.spider.Walk": File (
        path: "animations/spider/big/tier1/Walk.anim.toml",
    ),
    "anim.spider.Walk.image": File (
        path: "animations/spider/big/tier1/Walk.png",
    ),
    "anim.spider.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 10,
    ),
    "anim.spider2.Walk": File (
        path: "animations/spider/big/tier2/Walk.anim.toml",
    ),
    "anim.spider2.Walk.image": File (
        path: "animations/spider/big/tier2/Walk.png",
    ),
    "anim.spider2.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 10,
    ),
    "anim.spider3.Walk": File (
        path: "animations/spider/big/tier3/Walk.anim.toml",
    ),
    "anim.spider3.Walk.image": File (
        path: "animations/spider/big/tier3/Walk.png",
    ),
    "anim.spider3.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 10,
    ),
    "anim.smallspider.Walk": File (
        path: "animations/spider/small/tier1/Walk.anim.toml",
    ),
    "anim.smallspider.Walk.image": File (
        path: "animations/spider/small/tier1/Walk.png",
    ),
    "anim.smallspider.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.smallspider2.Walk": File (
        path: "animations/spider/small/tier2/Walk.anim.toml",
    ),
    "anim.smallspider2.Walk.image": File (
        path: "animations/spider/small/tier2/Walk.png",
    ),
    "anim.smallspider2.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.smallspider3.Walk": File (
        path: "animations/spider/small/tier3/Walk.anim.toml",
    ),
    "anim.smallspider3.Walk.image": File (
        path: "animations/spider/small/tier3/Walk.png",
    ),
    "anim.smallspider3.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.spider.RangedAttack": File (
        path: "animations/spider/big/tier1/RangedAttack.anim.toml",
    ),
    "anim.spider.RangedAttack.image": File (
        path: "animations/spider/big/tier1/RangedAttack.png",
    ),
    "anim.spider.RangedAttack.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 15,
    ),
    "anim.spider2.RangedAttack": File (
        path: "animations/spider/big/tier2/RangedAttack.anim.toml",
    ),
    "anim.spider2.RangedAttack.image": File (
        path: "animations/spider/big/tier2/RangedAttack.png",
    ),
    "anim.spider2.RangedAttack.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 15,
    ),
    "anim.spider3.RangedAttack": File (
        path: "animations/spider/big/tier3/RangedAttack.anim.toml",
    ),
    "anim.spider3.RangedAttack.image": File (
        path: "animations/spider/big/tier3/RangedAttack.png",
    ),
    "anim.spider3.RangedAttack.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 15,
    ),
    "anim.smallspider.MeleeAttack": File (
        path: "animations/spider/small/tier1/MeleeAttack.anim.toml",
    ),
    "anim.smallspider.MeleeAttack.image": File (
        path: "animations/spider/small/tier1/MeleeAttack.png",
    ),
    "anim.smallspider.MeleeAttack.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 5,
    ),
    "anim.smallspider2.MeleeAttack": File (
        path: "animations/spider/small/tier2/MeleeAttack.anim.toml",
    ),
    "anim.smallspider2.MeleeAttack.image": File (
        path: "animations/spider/small/tier2/MeleeAttack.png",
    ),
    "anim.smallspider2.MeleeAttack.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 5,
    ),
    "anim.smallspider3.MeleeAttack": File (
        path: "animations/spider/small/tier3/MeleeAttack.anim.toml",
    ),
    "anim.smallspider3.MeleeAttack.image": File (
        path: "animations/spider/small/tier3/MeleeAttack.png",
    ),
    "anim.smallspider3.MeleeAttack.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 5,
    ),
    "anim.smallspider.Chase": File (
            path: "animations/spider/small/tier1/Chase.anim.toml",
    ),
        "anim.smallspider.Chase.image": File (
            path: "animations/spider/small/tier1/Chase.png",
    ),
        "anim.smallspider.Chase.atlas": TextureAtlasLayout (
            tile_size_x: 48.,
            tile_size_y: 48.,
            rows: 1,
            columns: 4,
    ),
    "anim.smallspider2.Chase": File (
            path: "animations/spider/small/tier2/Chase.anim.toml",
    ),
        "anim.smallspider2.Chase.image": File (
            path: "animations/spider/small/tier2/Chase.png",
    ),
        "anim.smallspider2.Chase.atlas": TextureAtlasLayout (
            tile_size_x: 48.,
            tile_size_y: 48.,
            rows: 1,
            columns: 4,
    ),
    "anim.smallspider3.Chase": File (
            path: "animations/spider/small/tier3/Chase.anim.toml",
    ),
        "anim.smallspider3.Chase.image": File (
            path: "animations/spider/small/tier3/Chase.png",
    ),
        "anim.smallspider3.Chase.atlas": TextureAtlasLayout (
            tile_size_x: 48.,
            tile_size_y: 48.,
            rows: 1,
            columns: 4,
    ),
    "anim.spider.DefensiveAttack": File (
        path: "animations/spider/big/tier1/DefensiveAttack.anim.toml",
    ),
    "anim.spider.DefensiveAttack.image": File (
        path: "animations/spider/big/tier1/DefensiveAttack.png",
    ),
    "anim.spider.DefensiveAttack.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 11,
    ),
    "anim.spider.Defense": File (
        path: "animations/spider/big/tier1/Defense.anim.toml",
    ),
    "anim.spider.Defense.image": File (
        path: "animations/spider/big/tier1/Defence.png",
    ),
    "anim.spider.Defense.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 5,
    ),
    "anim.spider2.Defense": File (
        path: "animations/spider/big/tier2/Defense.anim.toml",
    ),
    "anim.spider2.Defense.image": File (
        path: "animations/spider/big/tier2/Defence.png",
    ),
    "anim.spider2.Defense.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 5,
    ),
    "anim.spider3.Defense": File (
        path: "animations/spider/big/tier3/Defense.anim.toml",
    ),
    "anim.spider3.Defense.image": File (
        path: "animations/spider/big/tier3/Defence.png",
    ),
    "anim.spider3.Defense.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 5,
    ),
     "anim.spider.Sparks": File (
        path: "animations/spider/big/tier1/Sparks.anim.toml",
    ),
     "anim.spider.Sparks.image": File (
        path: "animations/spider/big/tier1/Sparks.png",
    ),
    "anim.spider.Sparks.atlas": TextureAtlasLayout (
        tile_size_x: 36.,
        tile_size_y: 36.,
        rows: 1,
        columns: 18,
    ),
    "anim.spider.Retreat": File (
        path: "animations/spider/big/tier1/Retreat.anim.toml",
    ),
    "anim.spider.Retreat.image": File (
        path: "animations/spider/big/tier1/Retreat.png",
    ),
    "anim.spider.Retreat.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 10,
    ),
    "anim.spider.Death": File (
        path: "animations/spider/big/tier1/Death.anim.toml",
    ),
    "anim.spider.Death.image": File (
        path: "animations/spider/big/tier1/Death.png",
    ),
    "anim.spider.Death.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 7,
    ),
    "anim.spider2.Death": File (
        path: "animations/spider/big/tier2/Death.anim.toml",
    ),
    "anim.spider2.Death.image": File (
        path: "animations/spider/big/tier2/Death.png",
    ),
    "anim.spider2.Death.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 7,
    ),
    "anim.spider3.Death": File (
        path: "animations/spider/big/tier3/Death.anim.toml",
    ),
    "anim.spider3.Death.image": File (
        path: "animations/spider/big/tier3/Death.png",
    ),
    "anim.spider3.Death.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 7,
    ),
    "anim.smallspider.Death": File (
        path: "animations/spider/small/tier1/Death.anim.toml",
    ),
    "anim.smallspider.Death.image": File (
        path: "animations/spider/small/tier1/Death.png",
    ),
    "anim.smallspider.Death.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.smallspider2.Death": File (
        path: "animations/spider/small/tier2/Death.anim.toml",
    ),
    "anim.smallspider2.Death.image": File (
        path: "animations/spider/small/tier2/Death.png",
    ),
    "anim.smallspider2.Death.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.smallspider3.Death": File (
        path: "animations/spider/small/tier3/Death.anim.toml",
    ),
    "anim.smallspider3.Death.image": File (
        path: "animations/spider/small/tier3/Death.png",
    ),
    "anim.smallspider3.Death.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 6,
    ),
    "anim.spider.Decay": File (
        path: "animations/spider/big/tier1/Decay.anim.toml",
    ),
    "anim.spider.Decay.image": File (
        path: "animations/spider/big/tier1/Decay.png",
    ),
    "anim.spider.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 4,
    ),
    "anim.spider2.Decay": File (
        path: "animations/spider/big/tier2/Decay.anim.toml",
    ),
    "anim.spider2.Decay.image": File (
        path: "animations/spider/big/tier2/Decay.png",
    ),
    "anim.spider2.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 4,
    ),
    "anim.spider3.Decay": File (
        path: "animations/spider/big/tier3/Decay.anim.toml",
    ),
    "anim.spider3.Decay.image": File (
        path: "animations/spider/big/tier3/Decay.png",
    ),
    "anim.spider3.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 4,
    ),
    "anim.smallspider.Decay": File (
        path: "animations/spider/small/tier1/Decay.anim.toml",
    ),
    "anim.smallspider.Decay.image": File (
        path: "animations/spider/small/tier1/Decay.png",
    ),
    "anim.smallspider.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 4,
    ),
    "anim.smallspider2.Decay": File (
        path: "animations/spider/small/tier2/Decay.anim.toml",
    ),
    "anim.smallspider2.Decay.image": File (
        path: "animations/spider/small/tier2/Decay.png",
    ),
    "anim.smallspider2.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 4,
    ),
    "anim.smallspider3.Decay": File (
        path: "animations/spider/small/tier3/Decay.anim.toml",
    ),
    "anim.smallspider3.Decay.image": File (
        path: "animations/spider/small/tier3/Decay.png",
    ),
    "anim.smallspider3.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 4,
    ),
    "anim.smallspider.Jump": File (
        path: "animations/spider/small/tier1/Jump.anim.toml",
    ),
    "anim.smallspider.Jump.image": File (
        path: "animations/spider/small/tier1/Jump.png",
    ),
    "anim.smallspider.Jump.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 13,
    ),
    "anim.smallspider2.Jump": File (
        path: "animations/spider/small/tier2/Jump.anim.toml",
    ),
    "anim.smallspider2.Jump.image": File (
        path: "animations/spider/small/tier2/Jump.png",
    ),
    "anim.smallspider2.Jump.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 13,
    ),
    "anim.smallspider3.Jump": File (
        path: "animations/spider/small/tier3/Jump.anim.toml",
    ),
    "anim.smallspider3.Jump.image": File (
        path: "animations/spider/small/tier3/Jump.png",
    ),
    "anim.smallspider3.Jump.atlas": TextureAtlasLayout (
        tile_size_x: 48.,
        tile_size_y: 48.,
        rows: 1,
        columns: 13,
    ),
    "anim.merchant.Idle": File (
        path: "animations/merchant/Idle.anim.toml",
    ),
    "anim.merchant.Idle.image": File (
        path: "animations/merchant/Idle.png",
    ),
    "anim.merchant.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 46,
    ),
    "anim.yak.Idle": File (
        path: "animations/yak/Idle.anim.toml",
    ),
    "anim.yak.Idle.image": File (
        path: "animations/yak/Idle.png",
    ),
    "anim.yak.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 32,
    ),
    "anim.switch.flip": File (
        path: "animations/puzzles/switch.anim.toml",
    ),
    "anim.switch.flip.image": File (
        path: "animations/puzzles/SwitchBig.png",
    ),
    "anim.switch.flip.atlas": TextureAtlasLayout (
        tile_size_x: 32.,
        tile_size_y: 32.,
        rows: 1,
        columns: 2, 
    ),
    "anim.puzzle.01": File (
        path: "animations/puzzles/puzzle01.anim.toml",
    ),
    "anim.puzzle.01.image": File (
        path: "animations/puzzles/Puzzle01Placeholder.png",
    ),
    "anim.puzzle.01.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.02": File (
        path: "animations/puzzles/puzzle02.anim.toml",
    ),
    "anim.puzzle.02.image": File (
        path: "animations/puzzles/Puzzle02Placeholder.png",
    ),
    "anim.puzzle.02.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.03": File (
        path: "animations/puzzles/puzzle03.anim.toml",
    ),
    "anim.puzzle.03.image": File (
        path: "animations/puzzles/Puzzle03Placeholder.png",
    ),
    "anim.puzzle.03.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.04": File (
        path: "animations/puzzles/puzzle04.anim.toml",
    ),
    "anim.puzzle.04.image": File (
        path: "animations/puzzles/Puzzle04Placeholder.png",
    ),
    "anim.puzzle.04.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.05": File (
        path: "animations/puzzles/puzzle05.anim.toml",
    ),
    "anim.puzzle.05.image": File (
        path: "animations/puzzles/Puzzle05Placeholder.png",
    ),
    "anim.puzzle.05.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.06": File (
        path: "animations/puzzles/puzzle06.anim.toml",
    ),
    "anim.puzzle.06.image": File (
        path: "animations/puzzles/Puzzle06Placeholder.png",
    ),
    "anim.puzzle.06.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.07": File (
        path: "animations/puzzles/puzzle07.anim.toml",
    ),
    "anim.puzzle.07.image": File (
        path: "animations/puzzles/Puzzle07Placeholder.png",
    ),
    "anim.puzzle.07.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.08": File (
        path: "animations/puzzles/puzzle08.anim.toml",
    ),
    "anim.puzzle.08.image": File (
        path: "animations/puzzles/Puzzle08Placeholder.png",
    ),
    "anim.puzzle.08.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.09": File (
        path: "animations/puzzles/puzzle09.anim.toml",
    ),
    "anim.puzzle.09.image": File (
        path: "animations/puzzles/Puzzle09Placeholder.png",
    ),
    "anim.puzzle.09.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.10": File (
        path: "animations/puzzles/puzzle10.anim.toml",
    ),
    "anim.puzzle.10.image": File (
        path: "animations/puzzles/Puzzle10Placeholder.png",
    ),
    "anim.puzzle.10.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.11": File (
        path: "animations/puzzles/puzzle11.anim.toml",
    ),
    "anim.puzzle.11.image": File (
        path: "animations/puzzles/Puzzle11Placeholder.png",
    ),
    "anim.puzzle.11.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.12": File (
        path: "animations/puzzles/puzzle12.anim.toml",
    ),
    "anim.puzzle.12.image": File (
        path: "animations/puzzles/Puzzle12Placeholder.png",
    ),
    "anim.puzzle.12.atlas": TextureAtlasLayout (
        tile_size_x: 12.,
        tile_size_y: 12.,
        rows: 1,
        columns: 12, 
    ),
})
