// This file is for ANIMATIONS; i.e any sprite-based animated assets
// based on our custom animation system.
({
    "anim.player.Fall": File (
        path: "animations/player/movement/Fall.anim.toml",
    ),
    "anim.player.Fall.image": File (
        path: "animations/player/movement/FallSheet.png",
    ),
    "anim.player.Fall.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 2,
        columns: 6,
    ),
    "anim.player.Jump": File (
        path: "animations/player/movement/Jump.anim.toml",
    ),
    "anim.player.Jump.image": File (
        path: "animations/player/movement/JumpSheet.png",
    ),
    "anim.player.Jump.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 2,
        columns: 6,
    ),
    "anim.player.Dash": File (
        path: "animations/player/movement/Dash.anim.toml",
    ),
    "anim.player.Dash.image": File (
        path: "animations/player/movement/Dash.png",
    ),
    "anim.player.Dash.atlas": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 96,
        rows: 1,
        columns: 1,
    ),
    "anim.player.Roll": File (
        path: "animations/player/movement/Roll.anim.toml",
    ),
    "anim.player.Roll.image": File (
        path: "animations/player/movement/Roll.png",
    ),
    "anim.player.Roll.atlas": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 96,
        rows: 1,
        columns: 4,
    ),
    "anim.player.WallSlide": File (
        path: "animations/player/movement/WallSlide.anim.toml",
    ),
    "anim.player.WallSlide.image": File (
        path: "animations/player/movement/WallSlide.png",
    ),
    "anim.player.WallSlide.atlas": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 96,
        rows: 1,
        columns: 3,
    ),
    "anim.player.Idle": File (
        path: "animations/player/movement/Idle.anim.toml",
    ),
    "anim.player.Idle.image": File (
        path: "animations/player/movement/IdleSheet.png",
    ),
    "anim.player.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 96,
        rows: 2,
        columns: 12,
    ),
    "anim.player.IdleLookUp": File (
        path: "animations/player/movement/IdleLookUp.anim.toml",
    ),
    "anim.player.IdleLookUp.image": File (
        path: "animations/player/movement/IdleLookUp.png",
    ),
    "anim.player.IdleLookUp.atlas": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 96,
        rows: 2,
        columns: 11,
    ),
    "anim.player.IdleLookDown": File (
        path: "animations/player/movement/IdleLookDown.anim.toml",
    ),
    "anim.player.IdleLookDown.image": File (
        path: "animations/player/movement/IdleLookDown.png",
    ),
    "anim.player.IdleLookDown.atlas": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 96,
        rows: 2,
        columns: 11,
    ),
    "anim.player.Run": File (
        path: "animations/player/movement/Run.anim.toml",
    ),
    "anim.player.Run.image": File (
        path: "animations/player/movement/RunSheet.png",
    ),
    "anim.player.Run.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 10,
    ),
    "anim.player.SwordBasicIdle": File (
        path: "animations/player/sword/BasicIdle.anim.toml",
    ),
    "anim.player.SwordBasicIdle.image": File (
        path: "animations/player/sword/BasicIdleSheet.png",
    ),
    "anim.player.SwordBasicIdle.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 20,
    ),
    "anim.player.HammerBasicIdle": File (
        path: "animations/player/hammer/BasicIdle.anim.toml",
    ),
    "anim.player.HammerBasicIdle.image": File (
        path: "animations/player/hammer/BasicIdleSheet.png",
    ),
    "anim.player.HammerBasicIdle.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 29,
    ),
    "anim.player.SwordBasicRun": File (
        path: "animations/player/sword/BasicRun.anim.toml",
    ),
    "anim.player.SwordBasicRun.image": File (
        path: "animations/player/sword/BasicRunSheet.png",
    ),
    "anim.player.SwordBasicRun.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 12,
    ),
    "anim.player.HammerBasicRun": File (
        path: "animations/player/hammer/BasicIdle.anim.toml",
    ),
    "anim.player.HammerBasicRun.image": File (
        path: "animations/player/hammer/BasicIdleSheet.png",
    ),
    "anim.player.HammerBasicRun.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 29,
    ),
    "anim.player.SwordBasicAir": File (
        path: "animations/player/sword/BasicAir.anim.toml",
    ),
    "anim.player.SwordBasicAir.image": File (
        path: "animations/player/sword/BasicAirSheet.png",
    ),
    "anim.player.SwordBasicAir.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 20,
    ),
    "anim.player.HammerBasicAir": File (
        path: "animations/player/hammer/BasicAir.anim.toml",
    ),
    "anim.player.HammerBasicAir.image": File (
        path: "animations/player/hammer/BasicAirSheet.png",
    ),
    "anim.player.HammerBasicAir.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 18,
    ),
    "anim.player.SwordWhirling": File (
        path: "animations/player/sword/Whirling.anim.toml",
    ),
    "anim.player.SwordWhirling.image": File (
        path: "animations/player/sword/WhirlingSheet.png",
    ),
    "anim.player.SwordWhirling.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 6,
    ),
    "anim.player.HammerWhirling": File (
        path: "animations/player/hammer/Whirling.anim.toml",
    ),
    "anim.player.HammerWhirling.image": File (
        path: "animations/player/hammer/WhirlingSheet.png",
    ),
    "anim.player.HammerWhirling.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 10,
    ),
    "anim.player.SwordDashDown": File (
        path: "animations/player/sword/DashDown.anim.toml",
    ),
    "anim.player.SwordDashDown.image": File (
        path: "animations/player/sword/DashDownSheet.png",
    ),
    "anim.player.SwordDashDown.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 6,
    ),
    "anim.player.SwordDashDownStrike": File (
        path: "animations/player/sword/DashDownStrike.anim.toml",
    ),
    "anim.player.SwordDashDownStrike.image": File (
        path: "animations/player/sword/DashDownSheet.png",
    ),
    "anim.player.SwordDashDownStrike.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 6,
    ),
    "anim.player.HammerDashDown": File (
        path: "animations/player/hammer/DashDown.anim.toml",
    ),
    "anim.player.HammerDashDown.image": File (
        path: "animations/player/hammer/DashDownSheet.png",
    ),
    "anim.player.HammerDashDown.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 12,
    ),
    "anim.player.BowBasicIdle": File (
        path: "animations/player/bow/BasicIdle.anim.toml",
    ),
    "anim.player.BowBasicIdle.image": File (
        path: "animations/player/bow/BasicIdleSheet.png",
    ),
    "anim.player.BowBasicIdle.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 8,
    ),
    "anim.player.BowBasicRun": File (
        path: "animations/player/bow/BasicRun.anim.toml",
    ),
    "anim.player.BowBasicRun.image": File (
        path: "animations/player/bow/BasicRunSheet.png",
    ),
    "anim.player.BowBasicRun.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 8,
    ),
    "anim.player.BowBasicAir": File (
        path: "animations/player/bow/BasicAir.anim.toml",
    ),
    "anim.player.BowBasicAir.image": File (
        path: "animations/player/bow/BasicAirSheet.png",
    ),
    "anim.player.BowBasicAir.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 5,
    ),
    "anim.player.BowBasicArrow": File (
        path: "animations/player/bow/BasicArrow.anim.toml",
    ),
    "anim.player.BowBasicArrow.image": File (
        path: "animations/player/bow/BasicArrowSheet.png",
    ),
    "anim.player.BowBasicArrow.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 1,
    ),
    "anim.spider.Idle": File (
        path: "animations/spider/big/tier1/Idle.anim.toml",
    ),
    "anim.spider.Idle.image": File (
        path: "animations/spider/big/tier1/Idle.png",
    ),
    "anim.spider.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 17,
    ),
    "anim.spider2.Idle": File (
        path: "animations/spider/big/tier2/Idle.anim.toml",
    ),
    "anim.spider2.Idle.image": File (
        path: "animations/spider/big/tier2/Idle.png",
    ),
    "anim.spider2.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 17,
    ),
    "anim.spider3.Idle": File (
        path: "animations/spider/big/tier3/Idle.anim.toml",
    ),
    "anim.spider3.Idle.image": File (
        path: "animations/spider/big/tier3/Idle.png",
    ),
    "anim.spider3.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 17,
    ),
    "anim.spider.Walk": File (
        path: "animations/spider/big/tier1/Walk.anim.toml",
    ),
    "anim.spider.Walk.image": File (
        path: "animations/spider/big/tier1/Walk.png",
    ),
    "anim.spider.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 10,
    ),
    "anim.spider2.Walk": File (
        path: "animations/spider/big/tier2/Walk.anim.toml",
    ),
    "anim.spider2.Walk.image": File (
        path: "animations/spider/big/tier2/Walk.png",
    ),
    "anim.spider2.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 10,
    ),
    "anim.spider3.Walk": File (
        path: "animations/spider/big/tier3/Walk.anim.toml",
    ),
    "anim.spider3.Walk.image": File (
        path: "animations/spider/big/tier3/Walk.png",
    ),
    "anim.spider3.Walk.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 10,
    ),
    "anim.spider.RangedAttack": File (
        path: "animations/spider/big/tier1/RangedAttack.anim.toml",
    ),
    "anim.spider.RangedAttack.image": File (
        path: "animations/spider/big/tier1/RangedAttack.png",
    ),
    "anim.spider.RangedAttack.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 15,
    ),
    "anim.spider2.RangedAttack": File (
        path: "animations/spider/big/tier2/RangedAttack.anim.toml",
    ),
    "anim.spider2.RangedAttack.image": File (
        path: "animations/spider/big/tier2/RangedAttack.png",
    ),
    "anim.spider2.RangedAttack.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 15,
    ),
    "anim.spider3.RangedAttack": File (
        path: "animations/spider/big/tier3/RangedAttack.anim.toml",
    ),
    "anim.spider3.RangedAttack.image": File (
        path: "animations/spider/big/tier3/RangedAttack.png",
    ),
    "anim.spider3.RangedAttack.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 15,
    ),
    "anim.spider.DefensiveAttack": File (
        path: "animations/spider/big/tier1/DefensiveAttack.anim.toml",
    ),
    "anim.spider.DefensiveAttack.image": File (
        path: "animations/spider/big/tier1/DefensiveAttack.png",
    ),
    "anim.spider.DefensiveAttack.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 11,
    ),
    "anim.spider.Defense": File (
        path: "animations/spider/big/tier1/Defense.anim.toml",
    ),
    "anim.spider.Defense.image": File (
        path: "animations/spider/big/tier1/Defence.png",
    ),
    "anim.spider.Defense.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 5,
    ),
    "anim.spider2.Defense": File (
        path: "animations/spider/big/tier2/Defense.anim.toml",
    ),
    "anim.spider2.Defense.image": File (
        path: "animations/spider/big/tier2/Defence.png",
    ),
    "anim.spider2.Defense.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 5,
    ),
    "anim.spider3.Defense": File (
        path: "animations/spider/big/tier3/Defense.anim.toml",
    ),
    "anim.spider3.Defense.image": File (
        path: "animations/spider/big/tier3/Defence.png",
    ),
    "anim.spider3.Defense.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 5,
    ),
    "anim.spider.Sparks": File (
        path: "animations/spider/big/tier1/Sparks.anim.toml",
    ),
    "anim.spider.Sparks.image": File (
        path: "animations/spider/big/tier1/Sparks.png",
    ),
    "anim.spider.Sparks.atlas": TextureAtlasLayout (
        tile_size_x: 36,
        tile_size_y: 36,
        rows: 1,
        columns: 18,
    ),
    "anim.spider.Retreat": File (
        path: "animations/spider/big/tier1/Retreat.anim.toml",
    ),
    "anim.spider.Retreat.image": File (
        path: "animations/spider/big/tier1/Retreat.png",
    ),
    "anim.spider.Retreat.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 10,
    ),
    "anim.spider.Death": File (
        path: "animations/spider/big/tier1/Death.anim.toml",
    ),
    "anim.spider.Death.image": File (
        path: "animations/spider/big/tier1/Death.png",
    ),
    "anim.spider.Death.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 7,
    ),
    "anim.spider2.Death": File (
        path: "animations/spider/big/tier2/Death.anim.toml",
    ),
    "anim.spider2.Death.image": File (
        path: "animations/spider/big/tier2/Death.png",
    ),
    "anim.spider2.Death.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 7,
    ),
    "anim.spider3.Death": File (
        path: "animations/spider/big/tier3/Death.anim.toml",
    ),
    "anim.spider3.Death.image": File (
        path: "animations/spider/big/tier3/Death.png",
    ),
    "anim.spider3.Death.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 7,
    ),
    "anim.spider.Decay": File (
        path: "animations/spider/big/tier1/Decay.anim.toml",
    ),
    "anim.spider.Decay.image": File (
        path: "animations/spider/big/tier1/Decay.png",
    ),
    "anim.spider.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 90,
        tile_size_y: 90,
        rows: 1,
        columns: 4,
    ),
    "anim.spider2.Decay": File (
        path: "animations/spider/big/tier2/Decay.anim.toml",
    ),
    "anim.spider2.Decay.image": File (
        path: "animations/spider/big/tier2/Decay.png",
    ),
    "anim.spider2.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 4,
    ),
    "anim.spider3.Decay": File (
        path: "animations/spider/big/tier3/Decay.anim.toml",
    ),
    "anim.spider3.Decay.image": File (
        path: "animations/spider/big/tier3/Decay.png",
    ),
    "anim.spider3.Decay.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 4,
    ),
    "anim.merchant.Idle": File (
        path: "animations/merchant/Idle.anim.toml",
    ),
    "anim.merchant.Idle.image": File (
        path: "animations/merchant/Idle.png",
    ),
    "anim.merchant.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 48,
        tile_size_y: 48,
        rows: 1,
        columns: 46,
    ),
    "anim.yak.Idle": File (
        path: "animations/yak/Idle.anim.toml",
    ),
    "anim.yak.Idle.image": File (
        path: "animations/yak/Idle.png",
    ),
    "anim.yak.Idle.atlas": TextureAtlasLayout (
        tile_size_x: 64,
        tile_size_y: 64,
        rows: 1,
        columns: 34,
    ),
    "anim.switch.flip": File (
        path: "animations/puzzles/switch.anim.toml",
    ),
    "anim.switch.flip.image": File (
        path: "animations/puzzles/SwitchBig.png",
    ),
    "anim.switch.flip.atlas": TextureAtlasLayout (
        tile_size_x: 32,
        tile_size_y: 32,
        rows: 1,
        columns: 2, 
    ),
    "anim.puzzle.01": File (
        path: "animations/puzzles/puzzle01.anim.toml",
    ),
    "anim.puzzle.01.image": File (
        path: "animations/puzzles/Puzzle01Placeholder.png",
    ),
    "anim.puzzle.01.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.02": File (
        path: "animations/puzzles/puzzle02.anim.toml",
    ),
    "anim.puzzle.02.image": File (
        path: "animations/puzzles/Puzzle02Placeholder.png",
    ),
    "anim.puzzle.02.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.03": File (
        path: "animations/puzzles/puzzle03.anim.toml",
    ),
    "anim.puzzle.03.image": File (
        path: "animations/puzzles/Puzzle03Placeholder.png",
    ),
    "anim.puzzle.03.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.04": File (
        path: "animations/puzzles/puzzle04.anim.toml",
    ),
    "anim.puzzle.04.image": File (
        path: "animations/puzzles/Puzzle04Placeholder.png",
    ),
    "anim.puzzle.04.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.05": File (
        path: "animations/puzzles/puzzle05.anim.toml",
    ),
    "anim.puzzle.05.image": File (
        path: "animations/puzzles/Puzzle05Placeholder.png",
    ),
    "anim.puzzle.05.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.06": File (
        path: "animations/puzzles/puzzle06.anim.toml",
    ),
    "anim.puzzle.06.image": File (
        path: "animations/puzzles/Puzzle06Placeholder.png",
    ),
    "anim.puzzle.06.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.07": File (
        path: "animations/puzzles/puzzle07.anim.toml",
    ),
    "anim.puzzle.07.image": File (
        path: "animations/puzzles/Puzzle07Placeholder.png",
    ),
    "anim.puzzle.07.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.08": File (
        path: "animations/puzzles/puzzle08.anim.toml",
    ),
    "anim.puzzle.08.image": File (
        path: "animations/puzzles/Puzzle08Placeholder.png",
    ),
    "anim.puzzle.08.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.09": File (
        path: "animations/puzzles/puzzle09.anim.toml",
    ),
    "anim.puzzle.09.image": File (
        path: "animations/puzzles/Puzzle09Placeholder.png",
    ),
    "anim.puzzle.09.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.10": File (
        path: "animations/puzzles/puzzle10.anim.toml",
    ),
    "anim.puzzle.10.image": File (
        path: "animations/puzzles/Puzzle10Placeholder.png",
    ),
    "anim.puzzle.10.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.11": File (
        path: "animations/puzzles/puzzle11.anim.toml",
    ),
    "anim.puzzle.11.image": File (
        path: "animations/puzzles/Puzzle11Placeholder.png",
    ),
    "anim.puzzle.11.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.puzzle.12": File (
        path: "animations/puzzles/puzzle12.anim.toml",
    ),
    "anim.puzzle.12.image": File (
        path: "animations/puzzles/Puzzle12Placeholder.png",
    ),
    "anim.puzzle.12.atlas": TextureAtlasLayout (
        tile_size_x: 12,
        tile_size_y: 12,
        rows: 1,
        columns: 12, 
    ),
    "anim.sword.pickup": File (
        path: "animations/weapons/Sword.anim.toml",
    ),
    "anim.sword.pickup.image": File (
        path: "animations/weapons/Sword.png",
    ),
    "anim.sword.pickup.atlas": TextureAtlasLayout (
        tile_size_x: 18,
        tile_size_y: 18,
        rows: 1,
        columns: 16, 
    ),
    "anim.hammer.pickup": File (
        path: "animations/weapons/Hammer.anim.toml",
    ),
    "anim.hammer.pickup.image": File (
        path: "animations/weapons/Hammer.png",
    ),
    "anim.hammer.pickup.atlas": TextureAtlasLayout (
        tile_size_x: 18,
        tile_size_y: 18,
        rows: 1,
        columns: 16, 
    ),
    "anim.dialogue.000": File (
        path: "animations/dialogue/000.anim.toml",
    ),
    "anim.dialogue.000.image": File (
        path: "animations/dialogue/000_1f.png",
    ),
    "anim.dialogue.000.atlas": TextureAtlasLayout (
        tile_size_x: 111,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.001": File (
        path: "animations/dialogue/001.anim.toml",
    ),
    "anim.dialogue.001.image": File (
        path: "animations/dialogue/001_1f.png",
    ),
    "anim.dialogue.001.atlas": TextureAtlasLayout (
        tile_size_x: 137,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.002": File (
        path: "animations/dialogue/002.anim.toml",
    ),
    "anim.dialogue.002.image": File (
        path: "animations/dialogue/002_1f.png",
    ),
    "anim.dialogue.002.atlas": TextureAtlasLayout (
        tile_size_x: 249,
        tile_size_y: 38,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.003": File (
        path: "animations/dialogue/003.anim.toml",
    ),
    "anim.dialogue.003.image": File (
        path: "animations/dialogue/003_1f.png",
    ),
    "anim.dialogue.003.atlas": TextureAtlasLayout (
        tile_size_x: 220,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.004": File (
        path: "animations/dialogue/004.anim.toml",
    ),
    "anim.dialogue.004.image": File (
        path: "animations/dialogue/004_1f.png",
    ),
    "anim.dialogue.004.atlas": TextureAtlasLayout (
        tile_size_x: 245,
        tile_size_y: 49,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.005": File (
        path: "animations/dialogue/005.anim.toml",
    ),
    "anim.dialogue.005.image": File (
        path: "animations/dialogue/005_1f.png",
    ),
    "anim.dialogue.005.atlas": TextureAtlasLayout (
        tile_size_x: 71,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.006": File (
        path: "animations/dialogue/006.anim.toml",
    ),
    "anim.dialogue.006.image": File (
        path: "animations/dialogue/006_1f.png",
    ),
    "anim.dialogue.006.atlas": TextureAtlasLayout (
        tile_size_x: 119,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.007": File (
        path: "animations/dialogue/007.anim.toml",
    ),
    "anim.dialogue.007.image": File (
        path: "animations/dialogue/007_1f.png",
    ),
    "anim.dialogue.007.atlas": TextureAtlasLayout (
        tile_size_x: 247,
        tile_size_y: 49,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.008": File (
        path: "animations/dialogue/008.anim.toml",
    ),
    "anim.dialogue.008.image": File (
        path: "animations/dialogue/008_1f.png",
    ),
    "anim.dialogue.008.atlas": TextureAtlasLayout (
        tile_size_x: 244,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.009": File (
        path: "animations/dialogue/009.anim.toml",
    ),
    "anim.dialogue.009.image": File (
        path: "animations/dialogue/009_1f.png",
    ),
    "anim.dialogue.009.atlas": TextureAtlasLayout (
        tile_size_x: 75,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.010": File (
        path: "animations/dialogue/010.anim.toml",
    ),
    "anim.dialogue.010.image": File (
        path: "animations/dialogue/010_1f.png",
    ),
    "anim.dialogue.010.atlas": TextureAtlasLayout (
        tile_size_x: 235,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.011": File (
        path: "animations/dialogue/011.anim.toml",
    ),
    "anim.dialogue.011.image": File (
        path: "animations/dialogue/011_1f.png",
    ),
    "anim.dialogue.011.atlas": TextureAtlasLayout (
        tile_size_x: 233,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.012": File (
        path: "animations/dialogue/012.anim.toml",
    ),
    "anim.dialogue.012.image": File (
        path: "animations/dialogue/012_1f.png",
    ),
    "anim.dialogue.012.atlas": TextureAtlasLayout (
        tile_size_x: 235,
        tile_size_y: 38,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.013": File (
        path: "animations/dialogue/013.anim.toml",
    ),
    "anim.dialogue.013.image": File (
        path: "animations/dialogue/013_1f.png",
    ),
    "anim.dialogue.013.atlas": TextureAtlasLayout (
        tile_size_x: 242,
        tile_size_y: 38,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.014": File (
        path: "animations/dialogue/014.anim.toml",
    ),
    "anim.dialogue.014.image": File (
        path: "animations/dialogue/014_1f.png",
    ),
    "anim.dialogue.014.atlas": TextureAtlasLayout (
        tile_size_x: 251,
        tile_size_y: 49,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.015": File (
        path: "animations/dialogue/015.anim.toml",
    ),
    "anim.dialogue.015.image": File (
        path: "animations/dialogue/015_1f.png",
    ),
    "anim.dialogue.015.atlas": TextureAtlasLayout (
        tile_size_x: 247,
        tile_size_y: 38,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.016": File (
        path: "animations/dialogue/016.anim.toml",
    ),
    "anim.dialogue.016.image": File (
        path: "animations/dialogue/016_1f.png",
    ),
    "anim.dialogue.016.atlas": TextureAtlasLayout (
        tile_size_x: 197,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.017": File (
        path: "animations/dialogue/017.anim.toml",
    ),
    "anim.dialogue.017.image": File (
        path: "animations/dialogue/017_1f.png",
    ),
    "anim.dialogue.017.atlas": TextureAtlasLayout (
        tile_size_x: 241,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.018": File (
        path: "animations/dialogue/018.anim.toml",
    ),
    "anim.dialogue.018.image": File (
        path: "animations/dialogue/018_1f.png",
    ),
    "anim.dialogue.018.atlas": TextureAtlasLayout (
        tile_size_x: 203,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
    "anim.dialogue.019": File (
        path: "animations/dialogue/019.anim.toml",
    ),
    "anim.dialogue.019.image": File (
        path: "animations/dialogue/019_1f.png",
    ),
    "anim.dialogue.019.atlas": TextureAtlasLayout (
        tile_size_x: 67,
        tile_size_y: 27,
        rows: 1,
        columns: 1, 
    ),
})
