// This file is for all audio assets. All of them must be here. UI, game, everything.
// Prefix gameplay audio with "audio.game."
// Prefix UI       audio with "audio.ui."
({
    "audio.game.Footstep": Files (
        paths: [
            "audio/movement/Step1.flac",
            "audio/movement/Step2.flac",
            "audio/movement/Step3.flac",
            "audio/movement/Step4.flac",
            "audio/movement/Step5.flac",
            "audio/movement/Step6.flac",
            "audio/movement/Step7.flac",
            "audio/movement/Step8.flac",
            "audio/movement/Step9.flac",
            "audio/movement/Step10.flac",
            "audio/movement/Step11.flac",
            "audio/movement/Step12.flac",
            "audio/movement/Step13.flac",
            "audio/movement/Step14.flac",
            "audio/movement/Step15.flac",
        ],
    ),
    "audio.game.JumpStart": Files (
        paths: [
            "audio/movement/JumpStart3.flac",
            "audio/movement/JumpStart4.flac",
        ],
    ),
    "audio.game.FallStart": Files (
        paths: [
            "audio/movement/FallStart2.flac",
            "audio/movement/FallStart3.flac",
        ],
    ),
    "audio.game.FallImpact": Files (
        paths: [
            "audio/movement/FallImpact3.flac",
        ],
    ),
    "audio.game.WallSlide": Files (
        paths: [
            "audio/movement/Slide3.flac",
            "audio/movement/Slide4.flac",
        ],
    ),
    "audio.game.Dash": Files (
        paths: [
            "audio/movement/Dash2a.flac",
            "audio/movement/Dash2b.flac",
        ],
    ),
    "audio.game.SwordSlash": Files (
        paths: [
            "audio/attack/Slash1.flac",
            "audio/attack/Slash2.flac",
        ],
    ),
    "audio.game.BowShoot": Files (
        paths: [
            "audio/attack/Shoot1.flac",
            "audio/attack/Shoot2.flac",
        ],
    ),
    "audio.game.SwordWhirl": Files (
        paths: [
            "audio/attack/Whirl1.flac",
        ],
    ),
    "audio.game.ImpactBass": Files (
        paths: [
            "audio/attack/ImpactBass1.flac",
            "audio/attack/ImpactBass2.flac",
        ],
    ),
    "audio.game.SpiderGetDamage": Files (
        paths: [
            "audio/attack/Impact1.flac",
        ],
    ),
    "audio.game.BigSpiderDeath": Files (
        paths: [
            "audio/spider/BigDeath.flac",
        ],
    ),
    "audio.game.SmallSpiderDeath": Files (
        paths: [
            "audio/spider/SmallDeath.flac",
        ],
    ),
})
