// This file is for any general non-level-specific gameplay-related assets
// that are not part of the graphics/visuals or audio (such as item properties, etc.)
// This also includes animation scripts.
({
    "anim.player.Idle": File (
        path: "animations/player/movement/Idle.anim.toml",
    ),
    "anim.player.IdleLookUp": File (
        path: "animations/player/movement/IdleLookUp.anim.toml",
    ),
    "anim.player.IdleLookDown": File (
        path: "animations/player/movement/IdleLookDown.anim.toml",
    ),
    "anim.player.Run": File (
        path: "animations/player/movement/Run.anim.toml",
    ),
    "anim.player.Jump": File (
        path: "animations/player/movement/Jump.anim.toml",
    ),
    "anim.player.JumpForward": File (
        path: "animations/player/movement/JumpForward.anim.toml",
    ),
    "anim.player.Fly": File (
        path: "animations/player/movement/Fly.anim.toml",
    ),
    "anim.player.FlyForward": File (
        path: "animations/player/movement/FlyForward.anim.toml",
    ),
    "anim.player.Fall": File (
        path: "animations/player/movement/Fall.anim.toml",
    ),
    "anim.player.FallForward": File (
        path: "animations/player/movement/FallForward.anim.toml",
    ),
    "anim.player.FlyFallTransition": File (
        path: "animations/player/movement/FlyFallTransition.anim.toml",
    ),
    "anim.player.FlyFallForwardTransition": File (
        path: "animations/player/movement/FlyFallForwardTransition.anim.toml",
    ),
    "anim.player.Land": File (
        path: "animations/player/movement/Land.anim.toml",
    ),
    "anim.player.LandForward": File (
        path: "animations/player/movement/LandForward.anim.toml",
    ),
    "anim.player.Dash": File (
        path: "animations/player/movement/Dash.anim.toml",
    ),
    "anim.player.Roll": File (
        path: "animations/player/movement/Roll.anim.toml",
    ),
    "anim.player.WallSlide": File (
        path: "animations/player/movement/WallSlide.anim.toml",
    ),
    "anim.player.SwordAirDown": File (
        path: "animations/player/sword/AirDown.anim.toml",
    ),
    "anim.player.SwordAirFrontA": File (
        path: "animations/player/sword/AirFrontA.anim.toml",
    ),
    "anim.player.SwordAirFrontB": File (
        path: "animations/player/sword/AirFrontB.anim.toml",
    ),
    "anim.player.SwordFrontA": File (
        path: "animations/player/sword/FrontA.anim.toml",
    ),
    "anim.player.SwordFrontB": File (
        path: "animations/player/sword/FrontB.anim.toml",
    ),
    "anim.player.SwordFrontC": File (
        path: "animations/player/sword/FrontC.anim.toml",
    ),
    "anim.player.SwordRunA": File (
        path: "animations/player/sword/RunA.anim.toml",
    ),
    "anim.player.SwordRunB": File (
        path: "animations/player/sword/RunB.anim.toml",
    ),
    "anim.player.SwordUp": File (
        path: "animations/player/sword/Up.anim.toml",
    ),
    "anim.player.SwordWhirling": File (
        path: "animations/player/sword/Whirling.anim.toml",
    ),
    "script.test": File (
        path: "test.script.toml",
    ),
    "anim.spider.Idle": File (
        path: "animations/spider/Idle.anim.toml",
    ),
})
