// This file is for any general non-level-specific gameplay-related assets
// that are not part of the graphics/visuals or audio (such as item properties, etc.)
({
    "script.test": File (
        path: "test.script.toml",
    ),
    "anim.spider.Idle": File (
        path: "animations/spider/Idle.anim.toml",
    ),
    "anim.spider.Walk": File (
        path: "animations/spider/Walk.anim.toml",
    ),
    "anim.spider.RangedAttack": File (
        path: "animations/spider/RangedAttack.anim.toml",
    ),
    "anim.spider.OffensiveAttack": File (
        path: "animations/spider/OffensiveAttack.anim.toml",
    ),
})
