// This file is for any general non-level-specific graphics-related assets
// (sprites, animation spritesheets, etc). Game graphics only, not UI.
({
    "anim.player.Fall.sprite": TextureAtlas (
        path: "sprites/PlayerFall.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.Fly.sprite": TextureAtlas (
        path: "sprites/PlayerFly.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.FlyFallTransition.sprite": TextureAtlas (
        path: "sprites/PlayerFlyFallTransition.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.Land.sprite": TextureAtlas (
        path: "sprites/PlayerLand.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.Jump.sprite": TextureAtlas (
        path: "sprites/PlayerJump.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.Dash.sprite": TextureAtlas (
        path: "sprites/PlayerDash.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 1,
    ),
    "anim.player.Idle.sprite": TextureAtlas (
        path: "sprites/PlayerIdle.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 2,
        columns: 10,
    ),
    "anim.player.Run.sprite": TextureAtlas (
        path: "sprites/PlayerRun.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 8,
    ),
    "anim.player.WallSlide.sprite": TextureAtlas (
        path: "sprites/PlayerWallSlide.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 3,
    ),
    "anim.player.WindLeft.sprite": TextureAtlas (
        path: "sprites/PlayerWindLeft.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 6,
    ),
    "anim.player.WindRight.sprite": TextureAtlas (
        path: "sprites/PlayerWindRight.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 6,
    ),
    "anim.player.SwordAttackFrontA.sprite": TextureAtlas (
        path: "sprites/PlayerSwordAttackFrontA.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordAttackFrontB.sprite": TextureAtlas (
        path: "sprites/PlayerSwordAttackFrontB.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordAttackFrontC.sprite": TextureAtlas (
        path: "sprites/PlayerSwordAttackFrontC.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordAttackRunA.sprite": TextureAtlas (
        path: "sprites/PlayerSwordAttackRunA.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.SwordAttackRunB.sprite": TextureAtlas (
        path: "sprites/PlayerSwordAttackRunB.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
})
