// This file is for any general non-level-specific graphics-related assets
// (sprites, animation spritesheets, etc). Game graphics only, not UI.
({

    "anim.player.FallForward.sprite": TextureAtlas (
        path: "sprites/player/movement/FallForward.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.Fall.sprite": TextureAtlas (
        path: "sprites/player/movement/Fall.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.Fly.sprite": TextureAtlas (
        path: "sprites/player/movement/Fly.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.FlyForward.sprite": TextureAtlas (
        path: "sprites/player/movement/FlyForward.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.FlyFallTransition.sprite": TextureAtlas (
        path: "sprites/player/movement/FlyFallTransition.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.FlyFallForwardTransition.sprite": TextureAtlas (
        path: "sprites/player/movement/FlyFallForwardTransition.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.Land.sprite": TextureAtlas (
        path: "sprites/player/movement/Land.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.LandForward.sprite": TextureAtlas (
        path: "sprites/player/movement/LandForward.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.Jump.sprite": TextureAtlas (
        path: "sprites/player/movement/Jump.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.JumpForward.sprite": TextureAtlas (
        path: "sprites/player/movement/JumpForward.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 2,
    ),
    "anim.player.Dash.sprite": TextureAtlas (
        path: "sprites/player/movement/Dash.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 1,
    ),
    "anim.player.Roll.sprite": TextureAtlas (
        path: "sprites/player/movement/Roll.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.WallSlide.sprite": TextureAtlas (
        path: "sprites/player/movement/WallSlide.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 3,
    ),
    "anim.player.Idle.sprite": TextureAtlas (
        path: "sprites/player/movement/Idle.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 2,
        columns: 10,
    ),
    "anim.player.IdleLookUp.sprite": TextureAtlas (
        path: "sprites/player/movement/IdleLookUp.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 2,
        columns: 11,
    ),
    "anim.player.IdleLookDown.sprite": TextureAtlas (
        path: "sprites/player/movement/IdleLookDown.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 2,
        columns: 11,
    ),
    "anim.player.Run.sprite": TextureAtlas (
        path: "sprites/player/movement/Run.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 8,
    ),
    "anim.player.SwordFrontA.sprite": TextureAtlas (
        path: "sprites/player/sword/FrontA.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordFrontB.sprite": TextureAtlas (
        path: "sprites/player/sword/FrontB.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordFrontC.sprite": TextureAtlas (
        path: "sprites/player/sword/FrontC.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordRunA.sprite": TextureAtlas (
        path: "sprites/player/sword/RunA.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.SwordRunB.sprite": TextureAtlas (
        path: "sprites/player/sword/RunB.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 4,
    ),
    "anim.player.SwordUp.sprite": TextureAtlas (
        path: "sprites/player/sword/Up.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordAirUp.sprite": TextureAtlas (
        path: "sprites/player/sword/AirUp.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordAirDown.sprite": TextureAtlas (
        path: "sprites/player/sword/AirDown.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordAirFrontA.sprite": TextureAtlas (
        path: "sprites/player/sword/AirFrontA.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordAirFrontB.sprite": TextureAtlas (
        path: "sprites/player/sword/AirFrontB.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordDashDownward.sprite": TextureAtlas (
        path: "sprites/player/sword/DashDownward.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 5,
    ),
    "anim.player.SwordWhirling.sprite": TextureAtlas (
        path: "sprites/player/sword/Whirling.png",
        tile_size_x: 96.,
        tile_size_y: 96.,
        rows: 1,
        columns: 6,
    ),
    "anim.spider.Idle.sprite": TextureAtlas (
        path: "sprites/spider/Idle.png",
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 17,
    ),
    "anim.spider.Walk.sprite": TextureAtlas (
        path: "sprites/spider/Walk.png",
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 10,
    ),
    "anim.spider.RangedAttack.sprite": TextureAtlas (
        path: "sprites/spider/RangedAttack.png",
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 15,
    ),
    "anim.spider.OffensiveAttack.sprite": TextureAtlas (
        path: "sprites/spider/OffensiveAttack.png",
        tile_size_x: 90.,
        tile_size_y: 90.,
        rows: 1,
        columns: 11,
    ),
})
