// This file is for any static (non-animated) sprites used in the game
// (not UI)
({
    "script.test": File (
        path: "test.script.toml",
    ),
    "dialog.MrSnafflesBackground": File (
        path: "animations/dialogue/MrSnafflesBackground.png",
    ),
    "dialog.VagrantBackground": File (
        path: "animations/dialogue/VagrantBackground.png",
    ),
})
