/// This file is for everything related to UI, except audio / sound effects.
({
    "ui.font.regular": File (
        path: "font/Tektur-Medium.ttf"
    ),
    "ui.font.bold": File (
        path: "font/Tektur-Bold.ttf"
    ),
    "ui.font.light": File (
        path: "font/Tektur-Regular.ttf"
    ),
})
